.left-grid-heading {
    display: flex;
    justify-content: space-between;
}

.border-r-1 {
    border-right: 1px solid rgb(59, 59, 59);
}

.bg-color-default {
    background-color: #ffffff;
}

.border-1 {
    border: 1px solid rgb(59, 59, 59);
}