.search-hr-border-t-1 {
  border-top: 1px solid rgb(71, 71, 71);
}

.span-disabled {
  pointer-events: none;
  display: none;
}

.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.603);
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.modal {
  display: none;
}

.show {
  animation: 0.4s modal-slide-in 0.4s forwards;
  -webkit-animation: modal-slide-in 0.4s forwards; /* for less modern browsers */
}

@keyframes modal-slide-in {
  0% {
    position: fixed;
    bottom: 0%;
    left: 50%;
    opacity: 0;
  }
  25% {
    position: fixed;
    bottom: 25%;
    left: 50%;
    opacity: 0;
  }
  100% {
    position: fixed;
    bottom: 41%;
    left: 50%;
    opacity: 1;
  }
}
