.nav {
  left: 0;
  // position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.container { 
  margin: auto;
}

.nav .container {
  align-items: center;
  display: flex;
  padding: 16px 32px;
  transition: all 0.3s ease-in-out;
}

.items-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-right {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-item {
  color: #ffffff;
  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-item-btn {
  padding: 0px 7px;
}

.nav.active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000000;
}

.nav.active .container {
  padding: 10px 32px;
}

.nav-item:hover {
  color: #c0392b;
  font-weight: bold;
}

.page-content {
  margin-top: 0;
}
